@keyframes animation {
  0% {
    width: 1px;
  }
  100% {
    width: 75vw;
  }
}
@keyframes animation2 {
  0% {
    width: 1px;
  }
  100% {
    width: 35vw;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  list-style: none;
}

.container__header {
  width: 100%;
  max-height: 100px;
  background-color: #E0E0E0;
}
.container__header > header {
  width: 100%;
  max-height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  padding: 30px;
}
.container__header > header > .menu--hamburguer > .toggle {
  display: none;
}
.container__header > .headerHamb {
  display: flex;
  justify-content: flex-start;
}
.container__header > .headerHamb > .absoluteActive {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  right: 0;
  width: 75vw;
  height: 100vh;
  top: 0;
  background-color: #333333;
  animation-name: animation;
  animation-duration: 1s;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive {
  display: block;
  width: 100%;
  height: 100%;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive > nav {
  margin-top: 5px;
  width: 100%;
  height: 100%;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive > nav > a {
  width: 50px;
  display: flex;
  justify-content: center;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive > nav > a > i {
  scale: 110%;
  color: white;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive > nav > ul {
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive > nav > ul > a {
  text-decoration: none;
  background: #FFFFFF;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
}
.container__header > .headerHamb > .absoluteActive > .toggleActive > nav > ul > a:visited {
  color: #333333;
}
.container__header > .headerHamb > .absoluteActive > .imgHam {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  opacity: 0%;
  width: 50px;
  height: 40px;
  z-index: 1;
}

.main > div {
  display: flex;
  justify-content: center;
}

.container_form {
  width: 90%;
  margin: 0 auto;
}
.container_form > h1 {
  display: none;
}
.container_form > div > form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.container_form > div > form > div {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container_form > div > form > div > div > select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: solid 1px #979797;
  color: #333333;
  background-color: #FFFFFF;
}
.container_form > div > form > div > div > input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: solid 1px #979797;
  color: #333333;
}
.container_form > div > form > div > div > label {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  padding-top: 10px;
  font-size: 14px;
  line-height: 22px;
}
.container_form > div > form > .div_btn > button {
  width: 100%;
  border-radius: 4px;
  padding: 7px 0;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 15px;
  background-color: #333333;
}

hr {
  width: 90%;
  margin: 10px auto;
  margin-bottom: 30px;
  border: solid 1px #979797;
}

.container_extract {
  max-width: 1100px;
  width: 90%;
  margin: 0 auto;
  height: auto;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.container_extract > #e-title {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.container_extract > #e-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #979797;
  font-weight: 600;
}
.container_extract > #e-head > p:first-child {
  margin-left: 25px;
}
.container_extract > #e-head > p:last-child {
  margin-right: 25px;
}
.container_extract > #e-lines {
  width: 100%;
}
.container_extract > #e-lines > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 1px #979797;
}
.container_extract > #e-lines > div > p:first-child {
  margin-left: 25px;
  margin-right: 15px;
}
.container_extract > #e-lines > div > p:last-child {
  margin-left: auto;
  margin-right: 25px;
}
.container_extract > #e-lines > div:last-child {
  border: none;
}
.container_extract > #e-lines > div:nth-last-child(2) {
  border-bottom: double 3px #979797;
}
.container_extract > #e-lines > #total {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container_extract > #e-lines > #total > div {
  margin-right: 25px;
}
.container_extract > #e-lines > #total > #totalInf {
  display: flex;
  flex-direction: column;
  line-height: 15px;
  margin-top: 7px;
}
.container_extract > #e-lines > #total > #totalInf > p:last-child {
  font-size: 12px;
  text-align: end;
}

.container_footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  border: solid 5px #333333;
}

@media (min-width: 768px) {
  .container_header {
    width: 100%;
    max-height: 100px;
  }
  .container_header > #header {
    width: 100%;
  }
  hr {
    display: none;
  }
  .container_form {
    border: solid 1px #979797;
    border-radius: 4px;
    padding: 20px 20px;
    margin: 20px auto;
    height: auto;
  }
  .container_form > h1 {
    display: block;
    text-align: center;
    font-size: 18px;
  }
  .container_form > div > form {
    display: flex;
    flex-direction: column;
  }
  .container_form > div > form > div:first-child {
    display: flex;
    flex-direction: row;
  }
  .container_form > div > form > div:first-child > div {
    padding: 0 10px;
  }
  .container_form > div > form > div:first-child > div:first-child, .container_form > div > form > div:first-child div:last-child {
    width: 30%;
  }
  .container_form > div > form > div:first-child > div:nth-child(2) {
    width: 70%;
  }
  .container_form > div > form > div:first-child > div:nth-child(2) > label {
    width: 100%;
  }
  .container_form > div > form > div:first-child > div:nth-child(2) > input {
    width: 100%;
  }
  .container_form > div > form > div:first-child > div:nth-child(2) {
    width: 45%;
  }
  .container_form > div > form > div:first-child > div:nth-child(2) > input {
    width: 100%;
  }
  .container_form > div > form > div:first-child > div:last-child > input {
    margin-left: auto;
  }
  .container_form > div > form > div:first-child > div:last-child > label {
    margin-left: auto;
    margin-right: 87px;
  }
  .container_form > div > form > div:last-child {
    width: 100%;
  }
  .container_form > div > form > div:last-child > button {
    width: 30%;
    display: inline;
    margin-left: auto;
    margin: 5px 10px 0 auto;
    padding: 10px 0;
  }
  #header {
    width: 100%;
  }
}
@media (min-width: 769px) {
  .container__header {
    width: 100vw;
    max-height: 100px;
  }
  .container__header > #header {
    width: 100vw;
  }
  .container__header > .headerHamb {
    width: 100%;
    display: flex;
    justify-content: start;
  }
  .container__header > .headerHamb > #cont--title > h2 {
    margin-left: 100px;
  }
  .container__header > .headerHamb > .absoluteActive {
    width: 35vw;
    animation-name: animation2;
    animation-duration: 1s;
  }
  .container__header > .headerHamb > .absoluteActive > .toggleActive {
    width: 100%;
  }
  .container__header > .headerHamb > .absoluteActive > .toggleActive > nav {
    width: 100%;
  }
  .container__header > .headerHamb > .absoluteActive > .toggleActive > nav > ul {
    margin-top: 33px;
  }
  .container__header > .headerHamb > .absoluteActive > .toggleActive > nav > ul > a:hover {
    background-color: #333333;
    color: #FFFFFF;
  }
}
@media (min-width: 1112px) {
  .container__header {
    width: 100%;
    max-height: 100px;
  }
  .container__header > #header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
  }
  .container__header > #header > .menu--hamburguer {
    position: relative;
  }
  .container__header > #header > .menu--hamburguer > a {
    display: none;
  }
  .container__header > #header > .menu--hamburguer > .toggle {
    display: block;
  }
  .container__header > #header > .menu--hamburguer > .toggle > nav {
    width: 350px;
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    padding: 10px;
  }
  .container__header > #header > .menu--hamburguer > .toggle > nav > a {
    display: none;
    text-decoration: none;
  }
  .container__header > #header > .menu--hamburguer > .toggle > nav a:link {
    color: #333333;
  }
  .container__header > #header > .menu--hamburguer > .toggle > nav a:visited {
    color: #333333;
  }
  .container__header > #header > .menu--hamburguer > .toggle > nav > ul {
    display: flex;
  }
  .container__header > #header > .menu--hamburguer > .toggle > nav > ul > a:first-child {
    margin-right: 20px;
    border-right: solid 1px #979797;
    padding-right: 15px;
  }
  .main {
    max-width: 1100px;
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .main > .container_form {
    width: 40%;
    height: auto;
    margin: 0 0;
  }
  .main > .container_form > div > form {
    display: flex;
    flex-direction: column;
  }
  .main > .container_form > div > form > div:first-child {
    display: flex;
    flex-direction: column;
  }
  .main > .container_form > div > form > div:first-child > div {
    width: 100%;
  }
  .main > .container_form > div > form > div:first-child > div > input, .main > .container_form > div > form > div:first-child > div label {
    width: 100%;
  }
  .main > .container_form > div > form > div:last-child > button {
    width: 100%;
  }
  .main > .container_extract {
    padding: 0 15px;
    margin: 0 0;
    width: 55%;
    height: auto;
  }
  .main > .container_extract > .head {
    font-weight: bold700;
  }
  .main > .container_extract > .delDivNothing {
    width: 47%;
  }
}

/*# sourceMappingURL=styles.css.map */
