*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Lato', sans-serif
  text-decoration: none
  list-style: none
.container__header
  width: 100%
  position: fixed
  background-color: #E0E0E0
  header
    margin: 0 auto
    width: 90%
    max-width: 1500px
    min-width: 335px
    display: flex
    justify-content: space-between
    align-content: center
    align-items: center
    flex-wrap: nowrap
    padding: 20px 0
  > #menu--hamburguer
      display: flex
      align-content: center
      width: 30px
      height: 30px
      cursor: pointer
    >label
      > i
        width: 30px
        height: 30px
  > input
    width: 1px
    height: 1px
    opacity: 0
    

        



  