@import 'variables'
@import 'mixins'
*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Lato', sans-serif
  text-decoration: none
  list-style: none
.container__header
  width: 100%
  max-height: 100px
  background-color: $top-color
  > header
    @include scren_90
    margin: 0 auto
    width: 90%
    max-width: 1100px
    display: flex
    flex-wrap: nowrap
    justify-content: space-between
    padding: 20px 0
    >#cont__img
      max-width: 1100px
    >#cont--title
      >h2
        font-size: 20px
        max-width: 1100px
    >#cont--title
      width: 100%
      position: relative
      text-align: end
      >h2
        text-align: center
    > #menu--hamburguer
      width: 50%
      top: 0
      display: absolute
      text-align: end
      margin-right: 35px
      >.imgHam
        text-decoration: none
        width: 100%
      >a:link
        color: $text-color
      >a:visited
        color: $text-color
      >i
        width: 100%  
      >div
        display: none
      >.active
        width: 100%
        position: fixed
        display: block
        float: right
        height: 100vh
        top: 0
        background-color: $text-color
        float: right
        >nav
          width: 100%
          display: flex
          flex-direction: column
          >a
            margin-top: 25px
            width: 10%
            height: 30px
            margin-left: 25px
          >ul
            line-height: 30px
            margin-top: 20px
            display: flex
            flex-direction: column
            >a
              background-color: white
              >li                
.main
  >div
    display: flex
    justify-content: center
.container_form
  @include scren_90
  >h1
    display: none
  >div
    >form
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-items: flex-start
      >div
        margin-top: 10px
        width: 100%
        display: flex
        flex-direction: column
        >div
          >select
            width: 100%
            padding: 10px
            margin-top: 5px
            border-radius: 4px
            border: solid 1px #979797
            color: $text-color
            background-color: $back-cont-color
          >input
            width: 100%
            padding: 10px
            margin-top: 5px
            border-radius: 4px
            border: solid 1px #979797
            color: $text-color
          >label
            width: 100%
            display: inline-block
            margin-top: 10px
            padding-top: 10px
            font-size: 14px
            line-height: 22px
      >.div_btn
        >button
          width: 100%
          border-radius: 4px
          padding: 7px 0
          color: $back-cont-color
          margin-bottom: 20px
          margin-top: 15px
          background-color: $text-color         
hr
  width: 90%
  margin: 10px auto
  margin-bottom: 30px
  border: solid 1px #979797
.container_extract
  max-width: 1100px
  @include scren_90
  height: auto
  line-height: 30px
  display: flex
  flex-direction: column
  justify-content: space-around
  align-items: flex-start
  >#e-title
    width: 100%
    text-align: center
    margin-bottom: 15px  
  >#e-head
    width: 100%
    display: flex
    justify-content: space-between
    border-bottom: solid 1px $input-border-color
    font-weight: 600
    >p:first-child
      margin-left: 25px   
    >p:last-child
      margin-right: 25px
  >#e-lines
    width: 100%
    >div
      width: 100%
      display: flex
      justify-content: flex-start
      border-bottom: solid 1px $input-border-color
      >p:first-child
        margin-left: 25px
        margin-right: 15px
      >p:last-child
        margin-left: auto
        margin-right: 25px
    >div:last-child
      border: none
    >div:nth-last-child(2)
      border-bottom: double 3px $input-border-color
    >#total
      width: 100%
      display: flex
      justify-content: space-between
      >div
        margin-right: 25px
      >#totalInf
        display: flex
        flex-direction: column
        line-height: 15px
        margin-top: 7px
        >p:last-child
          font-size: 12px
          text-align: end
.container_footer
  width: 100%
  position: fixed
  bottom: 0
  border: solid 5px $text-color
@media (min-width: 768px)
  hr
    display: none
  .container_form
    border: solid 1px #979797
    border-radius: 4px
    padding: 20px 20px
    margin: 20px auto
    height: auto
    >h1
      display: block
      text-align: center
      font-size: 18px
    >div
      >form
        display: flex
        flex-direction: column
        >div:first-child
          display: flex
          flex-direction: row
          >div
            padding: 0 10px
          >div:first-child, div:last-child
            width: 30%
          >div:nth-child(2)
            width: 70%
            >label
              width: 100%
            >input
              width: 100%
          >div:nth-child(2)
            width: 45%
            >input
              width: 100%
          >div:last-child
              >input
                margin-left: auto
              >label
                margin-left: auto
                margin-right: 87px
        >div:last-child
          width: 100%
          >button
            width: 30%
            display: inline
            margin-left: auto
            margin: 5px 10px 0 auto
            padding: 10px 0        
  #header
    width: 90%
    >div:last-child
      display: block
      >#box-1
        >nav
          width: 40vw
@media (min-width: 1112px)
  .container__header
    >#header
      width: 80%
      display: flex
      justify-content: flex-start
      align-items: center
      max-width: 1100px
      margin: 0 auto
      >#cont__img
        margin-right: 20px
      >#menu--hamburguer
        width: 80%
        max-width: 1100px
        display: flex
        justify-content: flex-end
        align-content: center           
        >a
          display: none
        >div
          display: block
          >nav
            background-color: $back-cont-color
            padding: 10px
            >a
              display: none
              text-decoration: none
            a:link
              color: $text-color
            a:visited
              color: $text-color
            >ul
              display: flex
              >a:first-child
                margin-right: 20px
                border-right: solid 1px $input-border-color
                padding-right: 15px      
        >.active
          display: none        

            
  .main
    max-width: 1100px
    width: 90%
    margin: 30px auto
    display: flex
    justify-content: center
    align-items: flex-start
    >.container_form
      width: 40%
      height: auto
      margin: 0 0
      >div
        >form
          display: flex
          flex-direction: column
          >div:first-child
            display: flex
            flex-direction: column
            >div
              width: 100%
              >input , label
                width: 100%
          >div:last-child
            >button
              width: 100%
    >.container_extract
      padding: 0 15px
      margin: 0 0
      width: 55%
      height: auto
      >.head
        font-weight: bold700
      >.delDivNothing
        width: 47% 
    
        

  


      

        

        



  