body{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
@media (max-width: 411px) and (min-width: 339px){
  .statusBar__{
    display: flex;
    align-content: center;
    width:100%;
    height:24px;
    background-color: black;
    z-index: 0;
  }
  .satutsBarr__Elementos{
    width:95%;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
    font-size:12px;
    flex-wrap: nowrap;
  }
  .satutsBarr__Elementos__esquerda{
    width:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .satutsBarr__Elementos__esquerda__img1{
    width:18px;
    height: 18px;
    margin: 2px 0 0 2.64px;
    background-image: url(https://img.icons8.com/officel/2x/low-battery.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    z-index: 1;
  }
  .satutsBarr__Elementos__esquerda__img2{
    width:15px;
    height: 15px;
    padding:1px;
    background-image: url("https://img.icons8.com/external-xnimrodx-lineal-gradient-xnimrodx/64/000000/external-wifi-gas-station-xnimrodx-lineal-gradient-xnimrodx.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    z-index: 1;
  }
  .statusBarr_Elementos_centro{
    width:60%;
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;

  }
  .statusBarr_Elementos_direita{
    width:20%;
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: nowrap;
  }
  .satutsBarr__Elementos__direita__img3{
    width:15px;
    height: 15px;
    margin: 2px 0 0 2.64px;
    background-image: url("https://img.icons8.com/color-glass/48/000000/bluetooth.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    z-index: 1;
  }
  .satutsBarr__Elementos__direita__img5{
    width:20px;
    height: 20px;
    margin: 2px 0 0 2.64px;
    background-image: url("https://img.icons8.com/ultraviolet/40/000000/no-connection--v1.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    z-index: 1;

  }
  /* header */
  .header{
    width: 411px;
    height: 60px; 
  }
  .header__Elementos{
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #E0E0E0;

  }
  .header__logo{
    width:30px;
    height: 28.63px;
    background-image: url(https://cantesani.github.io/projeto-individual/assets/img/logo.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  .header__nav__link__img{
    width: 24px;
    height:24px;
    background-image: url(https://img.icons8.com/ios-filled/2x/menu.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
  }
  /* main */
  .main__{
    width: 90%;
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    line-height:1.8rem;
  }
  .main__lbl__{
    display: block;
    width: 371px;
    height:22.22px;
    font-size:14px;
    line-height:22px;
    color:  #333333;
    margin-bottom:4px

  }
  .main__inpt__{
    margin-bottom: 20px;
    width: 92%;
    height:28px;
    border-color: solid 1px #979797;
    padding-left: 20px;
    border-radius:4px;
    font-size:15px;
    color: #363636;
  }
  .main__btn{
    width:100%;
    height: 35px;
    font-size:14px;
    line-height:2px;
    text-align: center;
    color: #ffffff;
    background-color: #2b2a2a;
    border-radius: 8px;
  }

  .line__{
    margin: 0 auto;
    width: 90%;
    left: 0px;
    top: 290px;
    border: 1px solid #979797;
    background-color:#979797 ;

  }
  /*Extrato  */
  .extrato__{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 5px auto;
    margin-bottom: 10px;
    min-height: 281px;
    top:420px;
    background:#FFFFFF;
  }
  h2{
    margin-bottom: 0;
  }
  .extrato__mercadoria{
    width: 90%;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items:baseline;
    font-weight:700;
    color: #000000;
    font-size:14px;
    line-height:22px;
    border-bottom: solid 1px #979797;
  }
  .extrato__mercadoria p{
    margin-bottom: 0;
  }
  .extrato__mercadoria_text_mercadoria{
    margin-left: 30px;
    margin-top: 0;
  }
  .extrato__mercadoria_text_Valor{
    margin-right: 30px;
  }
  .extrato__linha {
    width: 90%;
    margin:0 auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    font-Weight: 400;
    font-Size: 14px;
    text-align: left;
    border-bottom: solid 1px #979797;
  }
  .extrato__linha p{
    margin-top: 10px;
  }
  .extrato__linha__nav__simbol{
    margin-left: 8px;
  }
  a{
    text-decoration: none;
  }
  .extrato__linha__align{
    margin-left:15px;
    margin-bottom: 0;
    width: 215px;
  }
  .extrato__linha__2align{
    text-align: right;
    margin-bottom: 0;
    margin-right: 10px;
    width:33%;
  }
  .extrato__ :nth-child(5) {
    border-bottom: double 2px #979797;
  }
  .extrato__linha__total{
    font-weight:900;
    border-bottom: none;
  }
  .extrato__linha__lucro{
    width:330px;
    margin-top: 0;
    border:none;
    display:flex;
    justify-content: flex-end;
  }
  .extrato__linha__lucro__text{
    margin-top:0;
    font-size:10px;
    border: none;
  }
  .rodape{
    width:100%;
    border-top: 80px;
    border:solid 4px #333333;
    background:#333333;
  }
}