@use 'variables'
@use 'mixins'
*
  margin: 0
  padding: 0 
  box-sizing: border-box

body
  background-color: variables.$bg-color
  a
    text-decoration: none
    transition: .4s
.header
  margin-top: 0
  width: 100%
  height: 60px
  background-color: #E0E0E0
  .header__div
    @include mixins.container_mobile
.main__div
  input
    border-color: variables.$border-color
  
  
